<br /> <br />

<% if @event.errors.any? %>
<div class="alert alert-danger" role="alert">
  <br>
  <p>❌&nbsp;&nbsp;Nous n'avons pas réussi à créer l'événement pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<br>
</div>
<% end %>

 <center>
<%= form_tag events_path, method: "POST" do %>
    <div class="form-group mb-2">
      <%= text_field_tag :title, params[:title], class: 'form-control col-sm-3', placeholder: 'Title* (between 5 and 140 characters)' %>
    </div>
    <br>
    <div class="form-group mb-2">
      <%= text_field_tag :start_date, params[:start_date], class: 'form-control col-sm-5', placeholder: 'Start date* (format : YYYY-MM-DD)' %>
    </div>
    <br>
    <div class="form-group mb-2">
      <%= text_field_tag :duration, params[:duration], class: 'form-control col-sm-5', placeholder: 'Duration* (in minutes and triple of 5)' %>
    </div>
    <br>
    <div class="form-group mb-2">
      <%= text_field_tag :price, params[:price], class: 'form-control col-sm-3', placeholder: 'Price* (between 1 and 1000 €)' %>
    </div>
    <br>
     <div class="form-group mb-2">
      <%= text_field_tag :location, params[:location], class: 'form-control col-sm-3', placeholder: 'Location*' %>
    </div>
    <br>
    <div class="form-group">
      <%= text_area_tag :description, params[:description], class: 'form-control col-sm-7', placeholder: 'Description*' %>
    </div>
    <br>
      <%= submit_tag "Save new event", class: 'btn btn-primary' %>

  <% end %>
</div>

</center>



